<h2><%= @work.title %></h2>
<h3><%= @work.description %></h3>
<h3>Price : <i><%= @work.price %></i></h3>
<b>Deadline : <%= get_deadline(@work) %></b> <br>
Posted <%= time_ago_in_words(@work.created_at) %> ago <br><br>
Contact details : <br>
 Email : <%= @work.user.email %><br>
 Phone : <%= @work_user_bio.contact_number %><br>
<hr>
Posted by: <br>
<%= @work_user_bio.username %>, <%= @work_user_bio.gender %> <br>
<%= @work_user_bio.locality %><br>
<br>
<%= link_to 'Cancel', root_path %><br>
<br>
<button type="button" name="button" id="map_div">Show on Map!</button><br>
<div id='map'style='width: 500px; height: 500px;'></div>
