<% cache do %>
  <h1>homepage</h1>
  <%= link_to "SignIn", new_user_session_path if !user_signed_in? and !user_session %><br><br>
  <% @works.each do |work| %>
   <%= work.title %><br>
   <%= work.description %><br>
   Deadline : <%= get_deadline(work) %><br>       <!-- in application_helper.rb -->
   Price : <%= work.price %><br>
   by <%= link_to work.user.bio.username, user_path(work.user) %><br>
   category : <%= link_to work.category.name, category_filter_path(work.category) %><br>
   posted <%= time_ago_in_words(work.created_at) %> ago <br>
   <%= link_to 'View', work_path(work) %><br>
   <br>
  <% end %>
<% end %>  
