<!DOCTYPE html>
<html>
  <head>
    <title>Assignme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <!-- Devise notifications -->
    <b><p class="notice"><%= notice %></p></b>
    <b><p class="alert"><%= alert %></p></b>
    <% if user_signed_in? and user_session %>
      <% Category.all.each do |cat| %>
       <%= link_to cat.name, category_filter_path(cat) %> &nbsp;
      <% end %><br><br>
    <% end %>
    <!-- <p class="alert"><%#= flash[:success] %></p> -->    <!-- Usage demo in WorksController -->
    <!-- Devise notifications end -->
    <%= yield %>
  </body>
</html>
