<!DOCTYPE html>
<html>
  <head>
    <title>Assignme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- Devise notifications -->
    <b><p class="notice"><%= notice %></p></b>
    <b><p class="alert"><%= alert %></p></b>
    <% Category.all.each do |cat| %>
     <%= link_to cat.name, category_filter_path(cat) %> &nbsp;
    <% end %><br><br>
    <!-- <p class="alert"><%#= flash[:success] %></p> -->    <!-- Usage demo in WorksController -->
    <!-- Devise notifications end -->
    <%= yield %>
  </body>
</html>
